apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: stock-news-api
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/netsofit/adult-care-search.git # Assuming same repo for now, update if different
    targetRevision: HEAD
    path: stock-news-api/k8s
  destination:
    server: https://kubernetes.default.svc
    namespace: argocd
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
